@import "tailwindcss";

:root {
  --first: #141414;
  --secand: #01ffc2;
}

body {
  background-color: var(--first);
}

h1 {
  color: var(--secand);
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 40px;
  font-weight: 700;
}

.add-btn-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.add-btn {
  color: var(--secand);
  border: 2px solid var(--secand);
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  transition: 0.8s ease;
  font-size: 20px;
  font-weight: 700;
}

.add-btn:hover {
  background-color: var(--secand);
  color: var(--first);
}

.add-box-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.note-name,
.note-contenar {
  color: var(--secand);
  font-weight: 600;
  border: 2px solid var(--secand);
  border-radius: 10px;
  padding: 10px 20px;
  width: 500px;
}

.note-contenar {
  height: 200px;
}

.add-note-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-note-2 {
  color: var(--secand);
  border: 2px solid var(--secand);
  border-radius: 8px;
  padding: 4px;
  width: 100px;
  transition: 0.8s ease;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
}

.add-note-2:hover {
  background-color: var(--secand);
  color: var(--first);
}

.note-div-t {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.title-note {
  color: var(--secand);
  border: 1px solid var(--secand);
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.img{
  position: absolute;
  left: 230px;
}
.imgr {
  position: absolute;
  right: 15px;
}

.note-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-div-c {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition:
  opacity 0.5s ease,
  transform 0.5s ease,
  max-height 0.5s ease;
  display: flex;
  justify-content: center;
}

.note-div-c.show {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.cont {
  color: var(--secand);
  border: 2px solid var(--secand);
  width: 600px;
  min-height: 100px;
  border-radius: 18px;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
}
@media (max-width: 620px) {
  .cont{
  width: 300px;
  }
}
@media (max-width: 440px) {
  h1{
    font-size: 30px;
  }
}
@media (max-width: 340px) {
  h1{
    font-size: 22px;
  }
  .title-note{
    width: 200px;
    font-size: 15px;
  }
  .cont{
    width: 200px;
    font-size: 10px;
    }

}